<header class="topicsHeader">

    <!--Topics Language Title-->
    <div class="topicsHeaderLeft">

            <span>{{data.alias}}'s Profile</span>

    </div>

    
    <!--Create New Post-->
    <div class="topicsHeaderRight">

        <a href="/">Return Home</a>

    </div>

</header>




<div class="profileWrapper">

    <div class="profileCard">

        <img src="{{data.github_avatar_url}}" title="{{data.alias}}">

        <br>

        <div>

            <span id="profileBlackText">Name:</span> {{data.alias}}

        <br>
        <br>

            <span id="profileBlackText">Bio:</span> {{data.bio}}

        <br>
        <br>

            <span id="profileBlackText">Location:</span> {{data.github_location}}
            
        <br>
        <br>

            <span id="profileBlackText">Join Date:</span> {{data.join_date}}
            
        <br>
        <br>

            <a target="_blank" href="{{data.html_url}}">Github Profile</a>

        </div>

    </div>

</div>
